
.box{
    padding: 10px;
    margin: -10px;
    text-align: center;
   border: double black;
   background-color:khaki;
   border-width: 10px;
   
    
}
.background{
    background-color: rgb(78, 22, 78);

}
.home-text{
    color: black;
    font-family: "Times New Roman", sans-serif;
}

.recipe-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    display: inline;
    height: 100px;
    width: auto;
    border-color: red;
}
.h1{
    height: 100;
    weight: auto;
    
    border-color: green;
}

